body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo {position:absolute; top:0px}
.graph-container {position:relative;overflow:hidden;width:800px;height:600px; display:table}
.marker-canvas {position:absolute; top:0px; left:0px}
.marker-basic-container {cursor:pointer; padding-top:1px; text-align:center; font-weight:bold; font-family:arial;
  border:2px solid #666; background-color1: #009900; width1:20px; height1:20px;
  position:absolute; border-radius1: 50%; opacity1: 0.5}
.marker-basic {cursor:pointer; opacity: 0.9}
.graph-container {height:100%; flex-grow: 1; min-width: 0; min-height: 1000px; min-width:100%; background:url('../images/grid.png');}
.right-panel {width:300px; position:absolute; left:calc(100% - 600px); top:0px; background: #FFF; height:100%;
  border-left:1px solid #CCC}
.info-container {display:table; margin:15px}
.info-prompt {display:table-cell; margin:5px; vertical-align: middle;}
.info-data {display:table-cell; margin:5px 5px 5px 15px; font-weight:bold; vertical-align: middle}
.response-list {width:280px}
.response-data {width:280px; height:400px}
.filter-link {text-decoration:underline; color:#66F; cursor:pointer}
.port-icon {width:24px; height:24px; margin-left:5px; cursor:pointer}
.small-icon {width:24px; height:24px; margin-left:5px; cursor:pointer; display:inline-block}
.icon-disabled {opacity :0.2; cursor:default}
.selected-row {background:#EEE}
.info-container-right-footer {display:table; width:100%; margin:10px 0px 10px 0px}
.right-table-container {height:340px}
.right-table-footer {background:#EEE; position: absolute; display:table; height: 40px; top: 397px; width: 100%; vertical-align: middle;}
.right-table-footer-content {margin:6px; vertical-align: middle;}
.right-table-footer-icon-container {display:table-cell; width: 90px}
.right-table-process-prompt {display: table-cell; width: 90px; margin:5px; vertical-align: middle;}
.right-data-panel {height:400px; overflow:auto; max-width: 280px; word-wrap: break-word;}
.MuiTableRow-root-148 {height:28px}
.timechart-title {color: #29ABE2;; font-size:26px; padding-top:15px; text-align:center}
.timechart-table {border-collapse:collapse; margin-top: 50px; border-top: 1px solid #CCC}
.timechart-row {border-bottom:1px solid #CCC}
.timechart-row:hover {background-color:#DDD; opacity: 0.5;}
.timechart-stepcol {width:20%; border-bottom: 1px solid #CCC; padding:5px;}
.timechart-timecol {min-width1:1px; border-bottom: 1px solid #CCC; background-color: #29ABE2; opacity:0.5}
.timechart-padcol {border-bottom: 1px solid #CCC;}
.timechart-gridparent {position:relative; height:100%; margin:5px}
.timechart-gridelement {position:absolute; top:0px; left:0px; width:100%; height:100%}
.timechart-tooltip-container {position:absolute; top:100px; display:none; left:230px; padding:10px; border-radius: 5px; border:1px solid #CCC; background-color: #EEE;}
.timechart-grid-row:hover {background-color: #EEE; opacity:0.6}